<!--<app-block name="{{name}} root">
  <app-block name="{{name}} branch_1">
    <app-block name="{{name}} branch_1_1"></app-block>
    <app-block name="{{name}} branch_1_2"></app-block>
    <app-block name="{{name}} branch_1_3">
      <app-block name="{{name}} branch_1_3_1"></app-block>
      <app-block name="{{name}} branch_1_3_2">
        <app-block name="{{name}} branch_1_3_2_1"></app-block>
        <app-block name="{{name}} branch_1_3_2_2">
          <app-block name="{{name}} branch_1_3_2_2_1"></app-block>
          <app-block name="{{name}} branch_1_3_2_2_2"></app-block>
        </app-block>
      </app-block>
    </app-block>
  </app-block>
  <app-block name="{{name}} branch_2"></app-block>
</app-block>-->
<app-block name="{{name}} root">
</app-block>
<button (click)="changeName()">Name</button>
